{% extends 'weather.html' %}
{% block content %}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                City Weather Search
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" name="city" type="text" placeholder="City Name">
                        </div>
                        <div class="control">
                            <button class="button is-info">
                                Add City
                            </button>
                        </div>
                    </div>
                    <!-- 'with' -> If there are messages, then display the message. ELSE, skip the message. -->
                    <!-- Get FLASH message, with_categories specifies danger, success, primary, etc... -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Check to see if there are any messages. -->
                    {% if messages %}
                    <!-- Loop over messages that I have. -->
                    <!-- category, message because we receive a tuple of category + message. -->
                        {% for category, message in messages %}
                            <!-- Check which category the message is. -->
                            <!-- Assume category is always success. -->
                            {% set message_class = 'is-success' %}
                            <!-- If error is received, change from success to error category. -->
                            {% if category == 'error' %}
                                {% set message_class = 'is-danger' %}
                            {% endif %}
                            <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <!-- Loop over category messages from get_flashed_messages.
                    Set message_class to 'is-success'.
                    If message is actually error, change message_class to 'is-danger'.
                    If message is actually 'is-success', do nothing.
                    Insert message_class into <div class=...
                    Display actual message itself {{ message }} -->
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for weather in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <a href="{{ url_for('view_city', name=weather.city) }}" class="title">{{ weather.city }}</a>
                                    <br>
                                    <span class="subtitle">{{ weather.temperature }}° F</span>
                                    <br> {{ weather.description }}
                                </p>
                            </div>
                        </div>
                        <!-- DELETE BUTTON takes in the name of the city -->
                        <div class="media-right">
                            <a href="{{ url_for('delete_city', name=weather.city) }}">
                                <button class="delete"></button>
                            </a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}